@model IEnumerable<SaramentMeetingPlanner.Models.Planner>

@{
    ViewData["Title"] = "Index";
}

<h1>Select Program</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Program</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductingLeader)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.OpeningSongTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningSongNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymnTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymnTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymnNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingPrayer)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSpeakers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerSubjects)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductingLeader)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.OpeningSongTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningSongNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymnTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymnTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymnNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSpeakers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerSubjects)
            </td>
            <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-outline-info" asp-action="Print" asp-route-id="@item.Id">Print</a>
            </td>
        </tr>
}
    </tbody>
</table>
