@model SaramentMeetingPlanner.Models.Planner

@{
    ViewData["Title"] = "Print";
}
<h4 class="no-printme">Planner</h4>
    <hr />

<div class="printMe">
    
    <img class="imgPrint" src="~/imgs/The_Church_of_Jesus_Christ_of_LDS_Logo.png" />
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConductingLeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConductingLeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningSongTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningSongTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningSongNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningSongNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymnTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymnTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntermediateTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntermediateTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntermediateNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntermediateNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingHymnTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingHymnTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingHymnNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingHymnNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSpeakers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSpeakers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpeakerSubjects)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpeakerSubjects)
        </dd>
    </dl>
    <img class="imgPrint" id="img2" src="~/imgs/church-logo-footer-en_US.jpeg" />
    
    
</div>
<br>
<div class="no-printme">
    <script src="~/js/site.js"></script>
    <button type="button" class="btn btn-outline-info" onclick={window.print()}>Print</button> |
    <button type="button" class="btn btn-outline-dark"> <a asp-action="Index">Back to List</a></button>
</div>

