@model SaramentMeetingPlanner.Models.Planner

@{
    ViewData["Title"] = "Print";

    List<string> speakerList = Model.Speakers.Split(new char[] { ',' }).ToList();
    List<string> speakerSubjectsList = Model.SpeakerSubjects.Split(new char[] { ',' }).ToList();

}
<h4 class="no-printme">Planner</h4>
    <hr />

<div class="printMe">
    
    <img class="imgPrint" src="~/imgs/The_Church_of_Jesus_Christ_of_LDS_Logo.png" />
    <hr />
    <div class="bg-light pt-5 pb-5 justify-content-center text-center">
        <p>@Html.DisplayFor(model => model.Date)</p>
        <ul class="list-unstyled">
            <li>
                <br />@Html.DisplayNameFor(model => model.ConductingLeader)...........................................................................................................................@Html.DisplayFor(model => model.ConductingLeader)
            </li>
            <li>
                <br />@Html.DisplayNameFor(model => model.OpeningSongTitle)...........................................................................................................................@Html.DisplayFor(model => model.OpeningSongNum)
            </li>
            <li>
                <em>"@Html.DisplayFor(model => model.OpeningSongTitle)"</em>
            </li>
            <li>
                <br />@Html.DisplayNameFor(model => model.OpeningPrayer)...........................................................................................................................@Html.DisplayFor(model => model.OpeningPrayer)
            </li>
            <li>
                <br />@Html.DisplayNameFor(model => model.SacramentHymnTitle)..........................................................................................................................@Html.DisplayFor(model => model.SacramentHymn)
            </li>
            <li>
                <em>"@Html.DisplayFor(model => model.SacramentHymnTitle)"</em>
            </li>
            <li>
                <br />@Html.DisplayNameFor(model => model.NumberOfSpeakers)..........................................................................................................................@Html.DisplayFor(model => model.NumberOfSpeakers)
            </li>
            @if (Model.NumberOfSpeakers == 3)
            {
                <li>
                    <br />First Speaker..........................................................................................................................@speakerList[0]
                    <br />Topic..........................................................................................................................@speakerSubjectsList[0]
                </li>
                <li>
                    <br />Second Speaker..........................................................................................................................@speakerList[1]
                    <br />Topic..........................................................................................................................@speakerSubjectsList[1]
                </li>
                <li>
                    <br />@Html.DisplayNameFor(model => model.IntermediateTitle)..........................................................................................................................@Html.DisplayFor(model => model.IntermediateNum)
                </li>
                <li>
                    <em>"@Html.DisplayFor(model => model.IntermediateTitle)"</em>
                </li>
                <li>
                    <br />Final Speaker..........................................................................................................................@speakerList[2]
                    <br />Topic..........................................................................................................................@speakerSubjectsList[2]
                </li>
            }
            else if (Model.NumberOfSpeakers == 2)
            {
                <li>
                    <br />First Speaker..........................................................................................................................@speakerList[0]
                    <br />Topic..........................................................................................................................@speakerSubjectsList[0]
                </li>
                <li>
                    <br />@Html.DisplayNameFor(model => model.IntermediateTitle)..........................................................................................................................@Html.DisplayFor(model => model.IntermediateNum)
                </li>
                <li>
                    <em>"@Html.DisplayFor(model => model.IntermediateTitle)"</em>
                </li>
                <li>
                    <br />Final Speaker..........................................................................................................................@speakerList[1]
                    <br />Topic..........................................................................................................................@speakerSubjectsList[1]
                </li>
            }
            <li>
                <br />@Html.DisplayNameFor(model => model.ClosingHymnTitle)..........................................................................................................................@Html.DisplayFor(model => model.ClosingHymnNum)
            </li>
            <li>
                <em>"@Html.DisplayFor(model => model.ClosingHymnTitle)"</em>
            </li>
            <li>
                <br />@Html.DisplayNameFor(model => model.ClosingPrayer)..........................................................................................................................@Html.DisplayFor(model => model.ClosingPrayer)
            </li>
        </ul>
    </div>
    <img class="imgPrint" id="img2" src="~/imgs/church-logo-footer-en_US.jpeg" />
    
    
</div>
<br>
<div class="no-printme">
    <script src="~/js/site.js"></script>
    <button type="button" class="btn btn-outline-info" onclick={window.print()}>Print</button> |
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>

